<h1>Currency pairs</h1>

<%#= HTTP.get() %>
<ul>
  <% @currencies.keys.each do |currency| %>
    <li>
      <a href="/<%=currency%>"> Convert 1 <%= currency %> to... </a>
    
    </li>
  <% end %>
</ul>
